@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    
}

body{
    height: 100vh;
 
}
#menu  a:hover {
    text-decoration: underline;
    color: white;
    font-size: 1.3em;
}
#menu_top img:hover{
    background-color: black;
    border: 5px solid red;
    border-radius: 10px;
    
}
header{
    display: flexbox;
    margin: auto;
    text-align: center;
    background-color:gray;
    padding: 20px;
    font-family: var(--font1);

    
}
header h1{
    padding: 20px;
}
nav a{
    padding: 30px;
    margin: auto;
    font-family: var(--font2);
    
}
#menu_top{
    display: flex;
    
   
}
.social_media{
    text-align: left;
   
    width: 50%;
}
.contact {
    justify-content: end;
    width: 50%;
    display: flex;
}
.contact a{
    margin-right:10px ;
}
.contact p{
    font-size: 1.3em;
}