@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    
}

body{
    height: 100vh;
 
}
body  a:hover {
    text-decoration: underline;
    color: white;
    font-size: 1.3em;
}
header{
    display: flexbox;
    margin: auto;
    text-align: center;
    background-color:gray;

    
}
nav a{
    padding: 30px;
    margin: auto;
    
}
#menu_top{
    display: inline;
}
