@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    --color1: #66218b;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    
}

body{
    height: 100vh;
 
}

header{
    display: flexbox;
    margin: auto;
    text-align: center;
    background-color:gray;
    padding: 20px;
    font-family: var(--font1);
    background-image: url(../Imagens/pngtree-climber-and-purple-mountain-background-image_389792.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}
#menu_top{
    display: flex;
    
   
}
#menu_top img:hover{
    
    
    border: 2px solid var(--color1);
    border-radius: 10px;
    
}

.social_media{
    text-align: left;
   
    width: 50%;
}
.contact {
    justify-content: end;
    width: 50%;
    display: flex;
}
.contact a{
    margin-right:10px ;
}
.contact p{
    font-size: 1.3em;
}
header h1{
    padding: 20px;
}

#menu_bottom a{
    color: white;
    margin-left: 20;
    padding: 5px;
    font-family: var(--font2);
}
#menu_bottom  a:hover {
    text-decoration: underline;
    background-color: white;
    color: var(--color1);
    font-size: 1.3em;
    border-radius: 10px;
}
#menu_center{
    padding: 20px;
    font-family: var(--font2);
}