@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    --color1: #66218b;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    
}

body{
    height: 100vh;
 
}

header{
    justify-content: space-between;
    margin: auto;
    text-align: center;
    background-color:gray;
    
    font-family: var(--font1);
    background-image: url(../Imagens/pngtree-climber-and-purple-mountain-background-image_389792.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}
/*_______Responsive-menu_______*/

.mobile-menu-icon{
    display: none;
    text-align: end;
}
.menu-bar,.nav-mobile-item{
    
    display: none;
    padding: 1em; 

    
}
@media screen and (max-width:800px){
    
    #menu_top,
    #menu-bottom{
        display: none;
    }
    .menu-bar{
        display: block;
        background-color: var(--color1);
        width: 100%;
        padding: 0.9em;
    }
    
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .nav-mobile-item ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
        
    }
    .nav-mobile-item{
        display: none;
        padding-top: 1.2rem;
        
    }
    .nav-mobile-item li{
        list-style: none;
           
    }
    .nav-mobile-item li:hover{
        background: white;
        color: var(--color1);
        padding: 1em;
        border-radius: 8px;
        
    }
   
    .nav-mobile-item a{
        color: white;
        
    }
    .nav-mobile-item a:hover{
        color: var(--color1);
    }
    .mobile-menu{
        width: 100%;
        background-color: var(--color1);
    }
    .open{
        display: block;
    }
    


}   



/*_____________________________*/
.menu_top{
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    padding: 20px;
    width: 100%;
    
   
}
#menu_top img:hover{
    
    
    border: 2px solid var(--color1);
    border-radius: 10px;
    
}

.contact {
    justify-content: end;
    width: 50%;
    display: flex;
    gap: 0.5rem;
}

.contact p{
    font-size: 1.3em;
    color: white;
}
#menu-center{
    padding: 20px;
    font-family: var(--font2);
    
}
header h1{
    padding: 20px;
}

#menu-bottom{
    
    background-color: var(--color1);
}
#menu-bottom ul{
    padding: 5px;
        
    
}
#menu-bottom a{
    color: white;
    margin-left: 1.1em;
    display: block;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: var(--font2);
    
}
#menu-bottom  a:hover {
    text-decoration: underline;
    background-color: white;
    
    border: 2px solid var(--color1);
    border-radius: 10px;
    color: var(--color1);
    
    
    border-radius: 10px;
}
.nav-item{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0.5rem;
}